.container {
	width: 100%;
	height: 100vh;
	background-image: url(/images/our-initiatives-bg.png);
	background-position: top;
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-top: 20vh;
	font-size: 3.5rem;
	color: var(--white);
	font-weight: 500;
	font-family: 'Rubik';
	margin-bottom: 5vh;
}

.grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 50vh;
}

.cardContainer {
	width: 30%;
	height: 100%;
	background-color: var(--white);
	border-radius: 15px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardImage {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 2%;
}

.cardTitle {
	font-family: 'Muli';
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 1%;
}

.underline {
	width: 30%;
	height: 2%;
	background-color: var(--primary);
	border-radius: 10px;
	margin-bottom: 3%;
}

.cardContent {
	height: 3.1rem;
	overflow-y: hidden;
	width: 90%;
	margin-bottom: 5%;
	font-family: 'Muli';
	color: var(--black);
	text-align: center;
}

@media only screen and (max-width: 425px) {
	.container {
		background-image: none;
		background-color: var(--primary);
		height: 100vh;
		min-height: 100vh;
	}
	.title {
		color: var(--black);
		margin-top: 2vh;
		font-size: 5vh;
		margin-bottom: 3vh;
	}
	.grid {
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		height: 90vh;
	}
	.cardContainer {
		width: 95%;
		height: 28vh;
		margin-bottom: 0vh;
	}
	.cardImage {
		margin-top: 1vh;
		height: 50%;
	}
	.cardImage > img {
		width: 50%;
	}
	.cardContent {
		height: 2.2rem;
	}
}

@media only screen and (max-width: 768px) {
	.grid {
		width: 98%;
	}
}
