.container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.title {
	font-family: 'Rubik';
	font-weight: 500;
	font-size: 3.5rem;
	color: var(--black);
	text-align: center;
	margin-bottom: 5vh;
}

.grid {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column {
	width: 50%;
}

.horizontalCardContainer,
.verticalCardContainer {
	height: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.horizontalCard,
.verticalCard {
	width: 95%;
	height: 95%;
	border-radius: 10px;
	background-position: top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #bcbcbc;
}

.horizontalCardCountry,
.verticalCardCountry {
	margin-left: 5%;
	margin-top: 2vh;
	color: var(--white);
	font-family: 'Muli';
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	font-size: 1rem;
}

.horizontalCardTitle,
.verticalCardTitle {
	margin-left: 5%;
	margin-top: 2vh;
	width: 50%;
	color: var(--white);
	font-weight: bold;
	font-family: 'Muli';
	font-size: 2rem;
	height: 6rem;
	overflow-y: hidden;
}

.horizontalCardLinkbtn,
.verticalCardLinkbtn {
	margin-left: 5%;
	margin-bottom: 2vh;
	background-color: var(--secondary);
	width: 25%;
	height: 4vh;
	background-color: var(--white);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Muli';
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.verticalCardContainer {
	height: 40vh;
	width: 95%;
}

.verticalCardTitle {
	width: 75%;
}

.verticalCardLinkbtn {
	width: 50%;
}

.linkbtn {
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	font-weight: 600;
	font-size: 1.2rem;
	background-color: var(--secondary);
	border-radius: 10px;
	height: 5vh;
	width: 12vw;
	cursor: pointer;
}

@media only screen and (max-width: 425px) {
	.container {
		width: 100%;
		margin-top: 5vh;
	}
	.grid {
		flex-direction: column;
	}

	.column {
		width: 100%;
	}

	.column:nth-child(2) > .grid {
		display: none;
	}

	.horizontalCard,
	.verticalCard {
		background-position: center;
	}
	.horizontalCardCountry,
	.verticalCardCountry {
		font-size: 3vh;
	}
	.horizontalCardTitle,
	.verticalCardTitle {
		font-size: 4.5vh;
	}
	.verticalCardContainer {
		width: 100%;
		height: 30vh;
		min-height: 30vh;
		max-height: 30vh;
	}
	.verticalCardLinkbtn {
		width: 25%;
	}
	.linkbtn {
		width: 40vw;
	}
}
