/* @font-face {
	font-family: 'AvenirNext';
	src: url('/fonts/AvenirNextLTPro-Regular.woff');
}

@font-face {
	font-family: 'AvenirNextBold';
	src: url('/fonts/AvenirNextLTPro-Bold.woff');
}

@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/Gilroy-Light.woff');
}

@font-face {
	font-family: 'GilroyExtraBold';
	src: url('/fonts/Gilroy-ExtraBold.woff');
} */

@font-face {
	font-family: 'Rubik-Regular';
	src: url('/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Rubik-Bold';
	src: url('/fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Rubik-Medium';
	src: url('/fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Muli-Regular';
	src: url('/fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Muli-SemiBold';
	src: url('/fonts/Muli-SemiBold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&family=Poppins:wght@400;500&family=Rubik:wght@400;500;700&display=swap');

body::-webkit-scrollbar {
	display: none;
}

body::-webkit-scrollbar-track {
	display: none;
}

body::-webkit-scrollbar-thumb {
	display: none;
}

:root {
	--primary: #53bbd5;
	--secondary: #b7d335;
	--black: #000000;
	--white: #ffffff;
	--titleFont: 'Rubik-Medium';
	--titleSize: 45px;
	--titleSizeLaptop: 40px;
	--titleSizeMobile: 40px;
	--titleWeight: 400;
	--subtitleFont: 'Muli-Regular';
	--bodyFont: 'Muli-Regular';
}
