/* @font-face {
	font-family: 'AvenirNext';
	src: url('/fonts/AvenirNextLTPro-Regular.woff');
}

@font-face {
	font-family: 'AvenirNextBold';
	src: url('/fonts/AvenirNextLTPro-Bold.woff');
}

@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/Gilroy-Light.woff');
}

@font-face {
	font-family: 'GilroyExtraBold';
	src: url('/fonts/Gilroy-ExtraBold.woff');
} */

:root {
	--primary: #53bbd5;
	--secondary: #b7d335;
	--black: #000000;
	--white: #ffffff;
	--titleSize: 65px;
	--titleWeight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&family=Poppins:wght@400;500&family=Rubik:wght@400;500;700&display=swap');

body::-webkit-scrollbar {
	display: none;
}

body::-webkit-scrollbar-track {
	display: none;
}

body::-webkit-scrollbar-thumb {
	display: none;
}
