.container {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	margin-bottom: 10vh;
}

.imageContainer {
	width: 100%;
	height: 100%;
}

.imageContainer img {
	width: 100%;
	height: 100%;
}

.linksContainer {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	justify-self: center;
}

.title,
.mobiletitle {
	font-size: 3.5rem;
	font-weight: 500;
	font-family: 'Rubik';
	text-align: left;
	color: var(--black);
	margin-bottom: 3vh;
}

.mobiletitle {
	display: none;
}

.cardContainer {
	height: 8vh;
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3vh;
}

.cardTitle {
	margin-left: 5%;
	font-size: 1.5rem;
	font-weight: 600;
	font-family: 'Muli';
	text-align: left;
	height: 1.5rem;
	overflow-y: hidden;
}

.arrowContainer {
	margin-right: 5%;
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Rubik';
	color: var(--white);
	background-color: var(--secondary);
	border-radius: 1rem;
	cursor: pointer;
}

@media only screen and (max-width: 425px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}
	.linksContainer {
		width: 95%;
	}
	.title {
		display: none;
		align-self: center;
		text-align: center;
	}
	.mobiletitle {
		display: inline;
	}
	.imageContainer {
		margin-bottom: 5vh;
	}
}
