.typesContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

.type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3vh;
}

.type img {
	border: 1px solid black;
	height: 20vh;
	width: 20vw;
	margin-bottom: 1vh;
}
