.container {
	position: absolute;
	z-index: 1;
	height: 10vh;
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.mobileContainer {
	display: none;
}

.brand {
	margin-left: 3vw;
	height: 7vh;
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}

.brand > img {
	height: 100%;
}

.routes {
	display: flex;
	flex-direction: row;
}

.links,
.linksbtn {
	text-decoration: none;
	text-align: center;
	margin-right: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 2vh;
	font-family: 'Poppins';
	color: var(--black);
}

.linksbtn {
	background-color: var(--secondary);
	border-radius: 10px;
	height: 5vh;
	padding-left: 1vw;
	padding-right: 1vw;
	cursor: pointer;
}
