.container {
	background-image: url(/images/footer-bg.png);
	height: 60vh;
	background-position: top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.content {
	padding-left: 5vw;
	padding-right: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.brand {
	height: 10vh;
	width: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vh;
}

.brand img {
	height: 100%;
}

.routes {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5vh;
}

.links {
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 2vh;
	color: var(--var);
	cursor: pointer;
	font-family: 'Muli';
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	margin-bottom: 5vh;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 5vh;
}

.icons img {
	height: 100%;
}
.copyright {
	margin-bottom: 2vh;
	font-family: 'Muli';
	opacity: 0.8;
	color: var(--black);
}

@media only screen and (max-width: 768px) {
	.routes {
		width: 100%;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: 3vh;
	}
	.brand {
		margin-bottom: 3vh;
	}
	.links {
		margin-bottom: 2vh;
		width: 50%;
	}
	.links:nth-last-child(1) {
		margin-bottom: 0vh;
	}
	.social {
		width: 100%;
	}
}
