/* .container:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/clips/heroclip.svg');
	background-position: bottom;
	background-repeat: no-repeat;
	transform: translateY(1vh);
} */

.container {
	height: 100vh;
	width: 100%;
}

.container img {
	width: 100%;
	height: 100vh;
}

.content {
	margin-top: 20vh;
	margin-left: 5vw;
	position: absolute;
	width: 40%;
}

.title {
	font-family: 'Rubik';
	color: var(--white);
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2vh;
}

.data {
	color: var(--white);
	font-family: 'Muli';
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 4vh;
	margin-bottom: 3vh;
	text-align: left;
}

.learnmore {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	font-weight: 600;
	font-size: 1.2rem;
	background-color: var(--secondary);
	border-radius: 10px;
	height: 5vh;
	width: 12vw;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		height: 50vh;
		min-height: 50vh;
		overflow-x: hidden;
	}
	.container img {
		height: 100%;
	}
	.content {
		margin-top: 12vh;
		margin-left: 1%;
		width: 98%;
	}
	.title {
		font-size: 1.5rem;
	}
	.data {
		font-size: 1rem;
		line-height: 1rem;
	}
	.learnmore {
		height: 4vh;
		width: 30vw;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 425px) {
	.container img {
		width: 150%;
	}
}
